:root {
  --background-color: hsl(210, 72%, 37%);
  --secondary-background-color: hsl(210, 85%, 29%);
  --black-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
  --basic-padding: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--black-color);
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

p,
#img-caption {
  font-size: 1.5rem;
}

#title {
  margin: 3rem 0;
  padding: 0 var(--basic-padding);
  font-size: 2.5rem;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
}

#img-div {
  width: 100%;
  padding: 0 var(--basic-padding);
}

#image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 800px;
  border-radius: 1rem;
}

#img-caption {
  margin: 0.5rem 0;
  font-weight: 700;
  text-align: center;
}

#tribute-info {
  margin-top: 1rem;
  padding: 1rem var(--basic-padding) 3rem var(--basic-padding);
  background-color: var(--secondary-background-color);
}

.subtitle {
  margin: 2rem 0;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  border-bottom: 1px solid var(--black-color);
}

.list {
  padding-left: 2rem;
}

.list-item {
  margin: 1.5rem 0;
}

.fact {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

#tribute-link {
  color: var(--primary-text-color);
  transition: 0.4s;
}

#tribute-link:hover {
  color: var(--white-color);
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  #title {
    font-size: 3rem;
  }
  p,
  #img-caption {
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 2.3rem;
  }
}
