*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

html{
     font-size: 62.5%;
}

body{
     font-family: monospace;
     font-size: 16px;
     background-color: hsl(190, 50%, 10%);
}

#main{
     margin: 1rem;
     background-color: hsl(190, 100%, 20%);
     border-radius: 1rem;
}

#title{
     padding: 2rem;
     font-size: 3.2rem;
     text-align: center;
}

#img-div{
     padding: 3rem 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: hsl(190, 50%, 10%);
}

#image{
     width: 100%;
     height: auto;
     max-width: 1200px;
     border-radius: 1rem;
}

#img-caption{
     margin-top: 1rem;
     font-size: 1.5rem;
     text-align: center;
     color: hsl(0, 0%, 100%);
}

#tribute-info{
     padding: 0rem 1rem 3rem 3rem;
}

.subtitle{
     margin: 3rem 1rem;
     font-size: 2.8rem;
}

.list-item{
     margin: 2rem;
}

.fact{
     font-weight: 600;
     font-size: 2.2rem;
}

.text, .about-fact{
     font-size: 1.8rem;
     font-family: sans-serif;
}

#read-more{
     font-weight: 700;
     font-size: 1.8rem;
}

#tribute-link{
     text-decoration: none;
     color: hsl(0, 0%, 100%);
     transition: ease 400ms;
}

#tribute-link:hover{
     color: hsl(0, 100%, 0%);
     text-decoration:underline;
}